
<% form_for(@login_form) do |f| %>
  <% if @login_form.errors.any? %>
    <ul>
      <% @login_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_field :email %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>
<% end %>
