<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-12">
    <%= form_for @found_form, url: found_bike_path, html: { class: 'form-horizontal well' } do |f| %>
			<fieldset>
				<div class="fieldset-header">
					<h3>Vital Information</h3>
					<p>Logging the serial number is the easiest way for us to match the bike with the owner</p>
				</div>
				<div class="form-group">
          <%= f.label "Serial Number", class: "col-lg-4 control-label" %>
					<div class="controls col-lg-8">
            <%= f.text_field :serial, class: "form-control" %>
					</div>
				</div>
				<img class="img-responsive" src="http://placehold.it/1200x400&text=Where to find serials" alt="Where to find serials">
			</fieldset>
			<fieldset>
				<div class="fieldset-header">
					<h3>More information</h3>
					<p>Some users don't know their serial, so if you can provide more informaiton we have a greater chance of connecting them with the bike you have found!</p>
				</div>
				<div class="form-group">
					<label for="make" class="col-lg-4 control-label">Manufacturer</label>
					<div class="controls col-lg-8">
						<input type="text" class="form-control" id="make" name="make" placeholder="e.g. Schwinn/Huffy/Trek">
					</div>
				</div>
				<div class="form-group">
					<label for="model" class="col-lg-4 control-label">Model</label>
					<div class="controls col-lg-8">
						<input type="text" class="form-control" id="model" name="model" placeholder="e.g. Hornet or Mark V if Manufacturer is Schwinn">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="fieldset-header">
					<h3>Your Contact Information</h3>
					<p>The owner needs to know how to contact you.</p>
				</div>
				<div class="form-group">
					<label for="email" class="col-lg-4 control-label">Email</label>
					<div class="controls col-lg-8">
						<input type="email" id="email" name="email" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="col-lg-4 control-label">Phone</label>
					<div class="controls col-lg-8">
						<input type="tel" id="phone" name="phone" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-8 col-lg-offset-4">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
    <% end %>
	</div>
</div>
