<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-12">
		<form class="found-new form-horizontal" role="form">
			<h1>Report a Found Bike</h1>
			<fieldset class="well">
				<div class="form-group">
					<label for="serial-number" class="col-lg-4 control-label">Serial Number</label>
					<div class="controls col-lg-8">
						<input type="text" class="form-control" id="serial-number" name="serial-number">
					</div>
				</div>
				<img class="img-responsive" src="http://placehold.it/1200x400&text=Where to find serials" alt="Where to find serials">
			</fieldset>
			<fieldset class="well">
				<h4>More information</h4>
				<div class="form-group">
					<label for="make" class="col-lg-4 control-label">Manufacturer</label>
					<div class="controls col-lg-8">
						<input type="text" class="form-control" id="make" name="make" placeholder="e.g. Schwinn/Huffy/Trek">
						<span class="help-block">Some users don't know their serial, so if you can provide more information we have a greater chance of connecting them with the bike you have found!</span>
					</div>
				</div>
				<div class="form-group">
					<label for="model" class="col-lg-4 control-label">Model</label>
					<div class="controls col-lg-8">
						<input type="text" class="form-control" id="model" name="model" placeholder="e.g. Hornet or Mark V if Manufacturer is Schwinn">
					</div>
				</div>
			</fieldset>
			<fieldset class="well">
				<h4>Your Contact Information</h4>
				<div class="form-group">
					<label for="email" class="col-lg-4 control-label">Email</label>
					<div class="controls col-lg-8">
						<input type="email" id="email" name="email" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="col-lg-4 control-label">Phone</label>
					<div class="controls col-lg-8">
						<input type="tel" id="phone" name="phone" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="controls col-lg-8">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>