<div class="row">
  <div class="col-lg-8 col-md-8 col-12">
    <h2>Frequently Asked Questions</h2>
    <h4>Where can I find my bike's serial number?</h4>
    <p>Most manufacturer's serial numbers are located on the underside of the bracket where the two pedal cranks meet. If there isn't a serial number there, you can check the head tube where the handlebars are, the seat tube, the top of the crank, or near the rear wheel mount.</p>
    <p>If you're still not sure where it is, check with the bike manufacturer for the location.</p>
    <h4>Where can I report a theft?</h4>
    <p>Always report a crime to the local authorities. There are <%= link_to "police in almost every town", "http://en.wikipedia.org/wiki/List_of_law_enforcement_agencies_in_Vermont" %> in Vermont.</p>
    <p>If you have your bike regisered with Safe Spokes VT you should also mark that record as stolen so that if someone tries to sell it to a shop the bike shop can see that it was stolen.</p>
    <h4>I am a Law Enforcement Agent or Bike Shop Owner, how can I get access to the registration data?</h4>
    <p>Please <%= link_to "contact us directly", "#" %> to get access to complete bike registration records.</p>
    <h4>Do you have a public API?</h4>
    <p>Not yet!</p>
  </div>
  <div class="col-lg-4 col-md-4 col-12">
      <h3>Bike Security Tips</h3>
      <ol>
        <li>
          <h4><strong>Always</strong> lock your bike.</h4>
          <p>Many bikes are easily stolen because they are not locked up. If possible, lock up and store your bike inside. If you're out in public, park your bike on highly trafficked main streets.</p>
        </li>
        <li>
          <h4>Use a lock that is strong and unbreakable.</h4>
          <p>Lightweight chain or cable locks are easily cut. Your lock should fit around your frame and front wheel so it's hard to remove.</p>
        </li>
        <li>
          <h4>Be prepared in case it does go missing</h4>
          <p>Take a photo of your bike and keep detailed info, including your bike’s serial number, to share with police if it is stolen.</p>
        </li>
      </ol>
  </div>
</div>
