<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 col-12">
		<%= link_to "Register My Bike", register_path, class:"btn btn-xl btn-success" %>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-12">
		<%= link_to "I Found A Bike", found_bike_path, class:"btn btn-xl btn-warning" %>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-12">
		<%= link_to "My Bike Was Stolen", report_stolen_path, class:"btn btn-xl btn-danger" %>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-12">
		<%= link_to "Search Bikes", search_bikes_path, class:"btn btn-xl btn-info" %>
	</div>
</div>
<!-- <img src="http://fc03.deviantart.net/fs20/f/2007/291/1/8/J14_aircraft_carrier_landing_by_huihui1979.jpg" /> -->
