</div>
<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-12">
				<h1>Something about registering bikes</h1>
				<p>Something about benefits of registering your bike</p>
				<%= link_to raw("<i class='icon icon-list'></i> Register a Bike"), register_path, class:"btn btn-xl btn-primary" %>
			</div>
		</div>
	</div>
</div>
<div class="callouts">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-12 callout">
				<div class="colpad">
					<h3>I Lost My Bike</h3>
					<i class="icon icon-xl icon-frown"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, nobis, harum eos distinctio odit illum dolores pariatur veniam excepturi id!</p>
					<%= link_to "Report a missing bike", report_stolen_path, class:"btn btn-primary" %>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12 callout">
				<div class="colpad">
					<h3>I Found a Bike</h3>
					<i class="icon icon-xl icon-eye-open"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, nobis, harum eos distinctio odit illum dolores pariatur veniam excepturi id!</p>
					<%= link_to "Report a found bike", found_bike_path, class:"btn btn-primary" %>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12 callout">
				<div class="colpad">
					<h3>Search for a bike</h3>
					<i class="icon icon-xl icon-search"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, nobis, harum eos distinctio odit illum dolores pariatur veniam excepturi id!</p>
					<%= link_to "Search Bikes", search_path, class:"btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-12">
			<h2>About Safe Spokes VT</h2>
			<p>Etiam nec pharetra ipsum. Fusce porta nisi a dapibus venenatis. Nunc at velit sit amet odio ultricies sollicitudin ut at arcu. Ut eget eleifend felis. Quisque eget accumsan nisl. Sed elit dolor, mattis eget molestie nec, mollis vel purus. Ut sit amet augue ornare, tempor lectus sed, tristique lorem.</p>
		</div>
	</div>
	<!-- <img src="http://fc03.deviantart.net/fs20/f/2007/291/1/8/J14_aircraft_carrier_landing_by_huihui1979.jpg" /> -->
</div>
