<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Location</td>
      <td>Link</td>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |listing| %>
      <tr>
        <td><%= listing["text"] %></td>
        <td><%= listing["location"] %></td>
        <td><%= link_to "[Link]", "http://craigslist.com#{listing["href"]}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
