<div class="row">
  <div class="col-lg-12 col-12">
    <h2>My Bikes</h2>
    <div class="well">
      <% if @bikes.size > 0 %>
        <%= render 'bikes/table' %>
      <% else %>
        <h3>Please register a bike!</h3>
        <p>Uh oh! Looks like you haven't registered a bike yet.  Get started <%= link_to "here", new_bike_path %>.</p>

      <% end %>
    </div>
  </div>
</div>
