<div class="row">
  <div class="col-lg-12 col-12">
    <h2>My Bikes</h2>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Make/Model</th>
            <th>Color</th>
            <th>Serial #</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
          <tr>
            <td>

            </td>
            <td>
              Trek Montana
            </td>
            <td>
              Orange
            </td>
            <td>
              129PDS30234902384AN283
            </td>
            <td>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
            <td>
              <a class="btn btn-xs btn-default" href="#">Update</a>
              <a class="btn btn-xs btn-danger" href="#">Report Missing</a>
              <a class="btn btn-xs btn-warning" href="#">Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
