<style type="text/css">
  table.qr {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  table.qr td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
  }

  table.qr td.black { background-color: #000; }
  table.qr td.white { background-color: #fff; }
</style>
 
<table>
  <% qrcode(@bike).modules.each_index do |x| -%>
    <tr>
      <% qrcode(@bike).modules.each_index do |y| -%>
        <% if qrcode(@bike).dark?(x,y) -%>
          <td class="black"/>
        <% else -%>
          <td class="white"/>
        <% end -%>
      <% end -%>
    </tr>
  <% end -%>
</table>
